<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="logger" class="emg.demos.spring.wiringbyname.Logger"
		autowire="byName">
	</bean>
	
	<!-- byName busca propiedades con el mismo nombre o id en la clase
	que va a inyectar los beans por eso cambio el nombre a 
	consoleWriter y fileWriter con 'W'-->
	<bean id="consoleWriter" class="emg.demos.spring.wiringbyname.ConsoleWriter">
	</bean>
	<bean id="fileWriter" class="emg.demos.spring.wiringbyname.FileWriter">
	</bean>
</beans>